@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas.otf');
}

@font-face {
  font-family: 'Cooper';
  src: url('../fonts/Cooper.ttf');
}

@font-face {
  font-family: 'Nuvo';
  src: url('../fonts/Nuvo.ttf');
}

@font-face {
  font-family: 'Pitch';
  src: url('../fonts/Pitch.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
